html {
  background-image: url(images/pg_bkg.png);
  background-repeat: repeat; 
}
body {    
   background-color: #333;
   color: white;
   max-width: 1200px;
   padding: 20px;
   font-family: Arial, sans-serif;
   text-align: center;
   }
.content { 
   max-width: 1200px;
   text-align: left; 
   margin: 0px auto;
   padding: 20px;
   }
#header-id { 
} 
h2 {
      margin-top: 30px;
   }
a:link {
  color: #333399;
}

/* visited link */
a:visited {
  color: #333399;
}

/* mouse over link */
a:hover {
  color: #666699;
}

/* selected link */
a:active {
  color: #0179f9;
}
#copyright {
   color: #d3d3d3;
   font-size: .8em;
}
